  <body>
     <div id="container">
     <!-- nav bar -->
     <nav class="navbar bar-color navbar-static-top">
       <div class="container-fluid">
         <!-- Brand and toggle get grouped for better mobile display -->
         <div class="navbar-header">
           <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
             <span class="sr-only">Toggle navigation</span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </button>
           <a class="navbar-brand" href="/">iWitness News</a>
            {{#if user}}
               <a href="/logout"><button type="button" class="btn btn-info navbar-btn">Logout</button></a>
            {{else}}
              <a href="/auth/twitter"><button type="button" class="btn btn-info navbar-btn">Login with Twitter</button></a>
            {{/if}}
           </div>
        </div>
   </nav>
   <!-- end nav bar -->
   <div class="container-fluid">
    <div class="row">

      <div class="col-md-3">
         <div class="panel panel-primary">
           <div class="panel-heading">
             <h3 class="panel-title">Trending News</h3>
           </div>
           <div class="panel-body">
             <hr>
             <div class="user">
                <!-- <div class="user-image">
                   <img src="{{user.photo}}" alt="">
                </div> -->
                 <div class="user-info">
                     <span class="username">username</span>&nbsp;
                     <span class="posted">posted</span>
                 </div>
             </div>
             <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item video" src="https://www.youtube.com/embed/e-ORhEE9VVg"></iframe>
             </div>
             <caption>Video Caption</caption>
             <p><a href="#" class="btn btn-info pull-right" role="button">Comment</a></p>
           </div>
         </div>
      </div>

      <div class="col-md-5">
         <!--comment box-->
		<!-- ###### COMMENT THIS OUT IF CAN'T FIX COMMENT BUTTON BUG ###### -->
		     <div id="inner">
              <div class="row">
                <div class="col-md-12">
                   <div class="panel panel-primary">
                     <div class="panel-heading">
                       <h3 class="panel-title">Make a Headline</h3>
                     </div>
                     <div class="panel-body">
                        <form id="send_message" action="">
                         <input type="text" id="video_input" placeholder="Paste your video URL here!" autocomplete="off" /><br/>
                         <input type="text" id="user_input" placeholder="What's this video about?" autocomplete="off" />
                         <input class="btn btn-success" type="submit" role="button" value="Submit">
                       </form>
                     </div>
                   </div>
                </div>
              </div>
      <!-- ###### COMMENT THIS OUT IF CAN'T FIX COMMENT BUTTON BUG ###### -->

		        <!-- <ul id="messages"> -->
                          <div class="panel panel-primary">
                            <div class="panel-heading">
                              <h3 class="panel-title">Incoming News</h3>
                            </div>
                            <ul id="messages">
                            <div class="panel-body">
                               <!--###### Uncomment and use this version if can't fix comment button bug ##### -->

                               <!-- <form id="send_message" action="">
                                <input type="text" id="video_input" placeholder="Paste your video URL here!" autocomplete="off" /><br/>
                                <input type="text" id="user_input" placeholder="What's this video about?" autocomplete="off" />
                                <input class="btn btn-success" type="submit" role="button" value="Submit">
                              </form> -->
                              
                              <!--###### Uncomment and use this version if can't fix comment button bug ##### -->
                               {{#each commentFeed}}
                              <hr>
                              <li>
                              <div class="user">
                                 <!-- <div class="user-image">
                                    <img src="{{photo}}" alt="">
                                 </div> -->
                                  <div class="user-info">
                                      <span class="username">{{user}}</span>
                                      <br/>
                                      <span class="posted">{{posted}}</span>
                                  </div>
                              </div>
                              <div class="embed-responsive embed-responsive-4by3 message-content">
                                 <iframe class="embed-responsive-item video" src="{{videoUrl}}"></iframe>
                              </div>
                           </li>
                           <p>{{videoCaption}}</p>
                           <p><a href="#" class="btn btn-info pull-right" role="button">Comment</a></p>
                           {{/each}}
                            </div>
                          </div>
                       <!-- </div> -->

		        </ul>
		    </div>
		<!-- </section> -->
      </div>

      <div class="col-md-4">
         <div class="panel panel-primary">
           <div class="panel-heading">
             <h3 class="panel-title">Message Threads</h3>
           </div>
           <div class="panel-body">
             <hr>
             <div class="user">
                <!-- <div class="user-image">
                   <img src="{{user.photo}}" alt="">
                </div> -->
                 <div class="user-info">
                     <span class="username">username</span>&nbsp;
                     <span class="posted">posted</span>
                 </div>
             </div>
             <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item video" src="https://www.youtube.com/embed/e-ORhEE9VVg"></iframe>
             </div>
             <caption>Video Caption</caption>
             <p><a href="#" class="btn btn-info pull-right" role="button">Comment</a></p>
           </div>
         </div>
        <!--comment box-->

     </div>

   </div>
   </div>
   <div class="bar-color" id="footer">
      <div class="container">
         <p>&copy; COGS 121 Team M, 2016.</p>
      </div>
   </div>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="css/js/bootstrap.min.js"></script>
    <script src="./js/jquery.min.js"></script>
	<script src="./js/socket.io.min.js"></script>
	<script src="./js/chatbox.js"></script>
	<script src="./js/search.js"></script>
</div>
  </body>
  </html>
