<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>News - Team M</title>
    <!-- Bootstrap -->
    <link href="css/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/css/lauren.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
     <!-- nav bar -->
     <nav class="navbar navbar-inverse navbar-static-top">
       <div class="container-fluid">
         <!-- Brand and toggle get grouped for better mobile display -->
         <div class="navbar-header">
           <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
             <span class="sr-only">Toggle navigation</span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </button>
           <a class="navbar-brand" href="/">News App</a>
              <a href="/auth/twitter"><button type="button" class="btn btn-info navbar-btn navbar-right">Login with Twitter</button></a>
           </div>
        </div>
   </nav>
   <!-- end nav bar -->
   <!-- <a href="/auth/twitter" class="btn btn-info" role="button">Login with Twitter</a> -->
    <div class="row">
      <div class="col-xs-6 col-md-4">
         <h2>Trending</h2>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-8">
         <h2>Main News Thread Here</h2>
         {{#if user}}
         	{{#each user}}
         		<p>Hi {{displayName}}</p>
         	{{/each}}
         {{/if}}

         <!--comment box-->
		<section>
		    <div id="inner">
		        <form id="send_message" action="">
		        	<input type="text" id="video_input" placeholder="put vid here" autocomplete="off" /><br>
		        	<hr>
		            <input type="text" id="user_input" placeholder="Type a new message and hit enter!" autocomplete="off" />
		            <hr>
		            <input type="submit" value="Submit">
		        </form>
		        <ul id="messages">
		            {{#each newsfeed}}
		            <hr>
		            <li>
		                <div class="user">
		                    <div class="user-image">
		                        <img src="{{user.photo}}" alt="">
		                    </div>
		                    <div class="user-info">
		                        <span class="username">{{user.username}}</span>
		                        <br/>
		                        <span class="posted">{{posted}}</span>
		                    </div>
		                </div>
		                <div class="message-content">
		                    {{message}}
		                </div>
		            </li>
		            {{/each}}
		        </ul>
		    </div>
		</section>
      </div>
   </div>



    <p>Buttons</p>
    <p><a href="#" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span></a> <a href="#" class="btn btn-default" role="button"><span class="glyphicon glyphicon-lamp" aria-hidden="true"></span></a></p>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="css/js/bootstrap.min.js"></script>
    <script src="./js/jquery.min.js"></script>
	<script src="./js/socket.io.min.js"></script>
	<script src="./js/chatbox.js"></script>
	<script src="./js/search.js"></script>
  </body>
  <footer>&copy; COGS 121 Team M, 2016.</footer>
</html>
