html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

.panel {
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
   -moz-border-radius: 0 !important;
        border-radius: 0 !important;
}

.bar-color {
   /*background-color: #4DB6AC;*/
   background-color: #fff;
}
.panel-title {
   font-family: 'Old Standard TT', serif;
   font-weight: 700;
   text-transform: uppercase;
   letter-spacing: -0.06em;
}

#container {
   background-color: #FAFAFA;
   font-family: 'Questrial', sans-serif;
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  color: #fff;
  background-color: #a4ccd5;
  text-align: center;
  font-size: 1em;
  padding-top: 20px;
}

.video {
   padding-bottom: 5px;
}

hr {
	margin: 0;
   clear: both;
}

#user_input, #video_input, #tmp{
   margin-bottom: 15px;
}

form>input {
	padding: 10px 20px;
}
